<h1>Book編集</h1>
<a href="/book">一覧</a>

<form method="POST" action="/book/update/{{ .book.Id }}">
    <p>
        <div>タイトル:</div>
        <div>
            <input type="text" name="title"
                {{ if .old }}
                    value="{{ .old.title }}"
                {{ else }}
                    value="{{ .book.Title }}"
                {{ end }}
            >
        </div>
        {{ if .errorMessages }}
            {{ .errorMessages.Title }}
        {{ end }}
    </p>
    <p>
        <div>内容：</div>
        <div>
            {{ if .old }}
                <textarea name="content">{{ .old.content }}</textarea>
            {{ else }}
                <textarea name="content">{{ .book.Content }}</textarea>
            {{ end }}
        </div>
        {{ if .errorMessages }}
            {{ .errorMessages.Content }}
        {{ end }}
    </p>
    <p>
        <div>
            <input type="submit" value="更新">
        </div>
    </p>
</form>