<h1>Book一覧</h1>

{{ if .flashMessage }}
    <p>{{ .flashMessage }}</p>
{{ end }}

<table border="1">
    <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th colspan="2">操作</th>
    </tr>
    {{ range .books }}
        <tr>
            <td>{{ .Title }}</td>
            <td>{{ .Content }}</td>
            <td>
                <a href="/book/edit/{{ .Id }}">編集</a>
            </td>
            <td>
                <form method="POST" action="/book/delete/{{ .Id }}">
                    <input type="submit" value="削除">
                </form>
            </td>
        </tr>
    {{ end }}
</table>

<div>
    <a href="/book/create">作成</a>
</div>
